.player{
    direction: rtl;
    text-align: center;
    background-color: #141E61;
    border-radius: 0.5rem;
}

.player__info {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    filter: drop-shadow(9px 6px 9px #141E61);
    text-align: right;
}

.player__info span:not(.statusGrey):not(.statusGreen):not(.statusRed) {
    font-weight: 500;
    color: #EBE645;
    filter: drop-shadow(2px 1.5px 0px #141E61);
}

.player__img {
    border: 2px solid yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    /* filter: drop-shadow(9px 6px 7px #141E61); */
    transition: 0.5s;
}

.player__img img {
    border-radius: 1rem;
}

.player__img:hover{
    transform: scale(1.1);
    opacity: 50%;
    cursor: pointer;
}

.player h4 {
    background-color: #577BC1;
    width: 20rem;
    /* font-weight: 400; */
    font-size: 1.6rem;
    border-radius: 1rem;
    margin-top: 0.4rem;
    margin-left: auto;
    margin-right: auto;
}

.player h3{
    text-align: center;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #EBE645;
    transition: 0.2s;
}

.player h3 span {
    font-size: 1.5rem;
    font-weight: 200;
}

.player h3:hover {
    cursor: pointer;
    opacity: 50%;
}

.statusGrey {
    color: grey;
    font-weight: 600;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    filter: drop-shadow(2px 1.5px 0px #141E61);
}

.statusGreen {
    color: green;
    font-weight: 600;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    filter: drop-shadow(2px 1.5px 0px #141E61);
}

.statusRed {
    color: red;
    font-weight: 600;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    filter: drop-shadow(2px 1.5px 0px #141E61);
}