.inputUsername, .inputPassword {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.loginBtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginBtn:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
  direction: rtl;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
