.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.img {
    display: flex;
    border: solid 2px black;
    max-width: 93%;
}